@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #ff0000,
    #008000
  ); /* Color of the scrollbar thumb */
  border-radius: 16px; padding: 20;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}
.btn {
  @apply rounded-xl h-10 px-4 grid place-content-center font-semibold  transition-all;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-danger {
  @apply bg-red-500 text-white;
}
